@charset "UTF-8";
/*Mobile*/

*{
    margin: 0px;
    padding: 0px;
    color: white;
}
body{
    background-color: black;
}

nav a{
    padding: 5px;
    color: white;
}
nav{
    height: 30px;
    margin-top: 10px;
    text-align: right;
    color: white;
}
header{
    padding: 5px;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.242);
}
main{
    font-size: 1.5em;
    margin-top: 200px;
    padding: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.652);
}
nav a:hover{
    color: blue;
}
img{
    position: absolute;
    height: 50px;
}