@charset "UTF-8";
/*Retrato*/
nav{
    text-align: right;
    padding: 15px;
    font-size: 1.5em;
}
img{
    width: 80px;
}
main{
    margin-top: 240px;
    margin-left: 60px;
    font-size: 2em;
}
nav a{
    padding: 15px;
}