@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

#calculator{
    background-color: rgb(47, 46, 46);
    height: 430px;
    width: 380px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.549);

}
#screen{
    background-color: rgb(212, 217, 217);
    width: 340px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;

}
#numbers{
    margin-top: 10px;
    width: 300px;
}
#numbers button{
    cursor: pointer;
    background-color: whitesmoke;
    display: inline-block;
    height:70px;
    width: 70px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 2em;
}
#b0{
    width: 165px;
}
#res{
    text-align: right;
    padding: 10px;
    font-size: 2em;
}
section button{
    cursor: pointer;
    background-color: whitesmoke;
    display: inline-block;
    height:70px;
    width: 70px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 2em;
    
}
section{
    width: 50px;
    margin-left: 270px;
    margin-top: -320px;
    
}
#bres{
    width: 150px;
    margin-left: -60px;
    background-color: yellow;
}
#bc{
    background-color: orange;
}
#bmais{
    background-color: green;
}
#bmenos{
    background-color: red;
}
button:hover{
    border: 1px solid white;
}
button{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.412);
}

